body{
    width: 120rem;
    background: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 105%;

     
    color: black;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

/******************************
*   HEADER
******************************/ 

#logo{
    font-size: 1.5rem;
    margin-left: 15rem;
    
    
}
#logo span{
    color:orangered;
}

header{
    display:flex;
    justify-content: space-between;
}
/* =========================== NAV_BAR ================================================*/
#nav_bar a:hover{
   border: 3px solid orangered;
   border-radius: 20px;
   cursor: pointer;
}

#nav_bar a{
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
  
    
}
#nav_bar ul{
    display: flex;
    list-style: none;
    margin-top: 2rem;
    margin-right: 6rem;
    
    
}


/* ========================== HOME_TEXT ================================================*/
#home_text{
    margin: 13%;
}

#home_text h2{
    font-size: 2rem;
    color: orangered;
}

 #home_text h1{
    font-size: 3rem;
    margin-left: 1rem;
 }

 #home_text span{
    color: rgb(12, 214, 120);
 }
#home_text h3{
    font-weight: bold;
}



#photo img{
    width: 17rem;
    margin-top: 15rem;
    border-radius: 14% 1% 64% 30%;

    
}

#main_content{
    display: flex;
}

.social_icons li{
    text-decoration: none;
    list-style: none;
    padding: .5rem;
}

.social_icons ul{
    display: flex;
    justify-content: flex-start;
}
.social_icons a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    background: orangered;
    border-radius: 20px;
    padding: 1rem;
    margin-right: 2rem;
  }

.social_icons{
    position: relative;
    top: -250px;
    left: 240px;
}